@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Dosis);


.faq_question {
 margin: 0px;
 padding: 0px 0px 5px 0px;
 display: inline-block;
 cursor: pointer;
 font-weight: bold;
 color: gray;   
 font-family: 'Open Sans', sans-serif;    
 font-size: 2em;    
}
 
.faq_answer_container {
 height: 0px;
 overflow: hidden;
 padding: 0px;   
 font-family: 'Dosis', sans-serif;  
 color: gray;
 font-size: 2em;
}

h1{
    color: #991217;
    font-family: 'Montserrat', sans-serif; 
    font-size: 3em;
}

body{
    background-image: url(images/sju.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: repeat-y;
}

